# ===== Java / Maven =====
target/
*.class
*.jar
*.war

# ===== IDE =====
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# ===== React / Node (nese shtohet dashboard me vone) =====
node_modules/
dist/
build/
.env.local

# ===== Konfigurime lokale & sekrete =====
.env
*.local.yml
application-local.properties

# ===== Logs & OS =====
*.log
logs/
.DS_Store
Thumbs.db

# ===== Docker volumes lokale =====
postgres-data/
kafka-data/
